.Login_head{
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    .Login_contentBox{
        width: 25%;
        height: 80%;
        background-color: #000;
        padding:3rem 4rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 30px;
        alig
        .Login_form{
            .forUsername{
                border-radius: 5px;
                background-color: #fff;
                font-size: 16px;
            }
        }
    }
}