.ForgotPasswordForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
    h4{
        font-weight: 400;
    }

    .ForgotPassword_form{
        display: flex;
        flex-direction: column;
        gap: 15px;

        .forEmail{
            font-size: 16px; 
            padding: 7px;
            padding-left: 10px;
            border-radius: 5px;       
        }

        .resetPasswordButton{
            width: 100%;
            margin-top: 10px
        }

        
    }

    .signUp_link{
        font-size: 14px;
        text-align: center;
        color: rgba(270,270,270,0.35);

        a{
            text-decoration: none;
            color: #fff;
            padding-left: 3px;
            &:hover{
                color:#e64d25;
            }
        }

    }
}