.SignUpForm{
    display: flex;
    flex-direction: column;
    gap: 30px;
    h4{
        font-weight: 400;
    }

    .SignUp_form{
        display: flex;
        flex-direction: column;
        gap: 15px;

        .imp_input{
            color: red;
        }

        .forRegisterEmail{
            font-size: 16px; 
            padding: 7px;
            padding-left: 10px;
            border-radius: 5px;
        }

        .createAccountButton{
            width: 100%;
        }
    }

    .toLoginLine{
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        color: rgba(270,270,270,0.35);

        a{
            color: #fff;
            padding-left: 3px;
            text-decoration: none;
            &:hover{
                color:#e64d25;
            }
        }
    }

}