.navbar_head{
    background-color: #111317;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 3rem;
}

.navbar_title{
    /* background-color: #333745; */
    color: #fff;
    font-size: 30px;
    letter-spacing: 4px;
    padding:0 10px;
}

.navbar_menu{
    display: flex;
    justify-content: space-evenly;
    width:50%;
}

.navbar_menu a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

}