.Navbar_head{
    height: 3.8rem;
    // width: inherit;
    max-height: 3.8rem;
    background-color: #111317;
    // border:2px solid #fff;
    color: #fff;
    display: flex;

    .searchNewDiv{
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 20px 0;
        .forSearch{
            display: flex;
            gap: 20px;
        }
    
    }
    

    .App_logoContainer{
        background-color: #323744;
        flex: 0.09;
        height: 3.2rem;
        padding: 6px 28px;
        display: flex;
        width: auto;
        align-items: center;
        .App_logo{
            // height: 3rem;
            max-height: 40px;
            width: auto;
            background-color: #323744;
        }
    }
    .App_menu{
        height: inherit;
        display: flex;
        flex: 0.9;
        justify-content: space-between;
        .menu1{
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            width: 52%;
            a{
                color: #fff;
                font-size: 1rem;
                font-weight: 400;
                text-decoration: none;
            }
            .GenreDiv{
                display: flex;
                align-items: center;
                cursor: pointer;
                h4{
                    font-weight: 400;
                    color: #fff;

                }
                .downwardIcon{
                    color: #fff;
                    position:relative;
                    top: 2px;
                }
            }
        }
        .menu2{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 20%;
            height: 100%;
            a{
                color: #fff;
                font-size: 1rem;
                font-weight: 400;
                text-decoration: none;
            }
            .GenreDiv{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                h4{
                    font-weight: 400;
                    color: #fff;

                }
                .downwardIcon{
                    color: #fff;
                    position:relative;
                    top: 2px;
                }
            }
            
        }
    }
    
}