.Footer_main{
    height: 5rem;
    .Footer_content{
        background-color: #111317;
        padding:45px 25px ;
        display: flex;
        justify-content: space-between;


        .goku_logo_again{
            img{
                max-height: 40px;
                width: auto;
            }
        }
       
    }
}