.Footer_main{
    // height: 6rem;
    height: 600px;
    color: #fff;
    background-color: #111317;

    .Footer_content{
        padding:25px 0px ;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;


        .goku_logo_again{
            // flex: 0.2;
            // border: 2px solid #fff;
            // align-self: flex-end;
            justify-self: flex-end;
            img{
                max-height: 45px;
                width: auto;
                margin-top: 22px;
            }
        }

        .Footer_content_aboutDiv{
            // border: 1px solid #fff;
            flex: 0.7;
            display: flex;
            gap: 25px;
            padding: 25px 10px;

            .Footer_aboutDiv{
                display: flex;
                flex: 0.35;
                flex-direction: column;
                // border: 2px solid #fff;
                // width: 50%;
                padding:10px ;
                gap: 12px;
                h4{
                    font-weight: 500;
                    padding-left: 10px;
                }

                .subMenu_inFooter_genre{
                    display: flex;
                    gap: 10px;
                    column-gap: 38px;
                    width: 100%;
                    flex-wrap: wrap;
                    .Genre_withFolder_div{
                        display: flex;
                        align-items: center;
                        // gap: 6px;
                        width: 37%;
                        // padding-left: 5px;
                        .folderIcon_color{
                            color: #e64d25;
                        }
                        p{
                            font-size: 14px;
                            // width: 37%;
                            padding-left: 10px;

                        }
                        :hover{
                            color: #e64d25;
                        }
                    }
                    
                }

                

                .subMenu_inFooter_connections{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding:0 10px;
                    
                    .connectingIconsDiv{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        // justify-content: center;
                        // height: 15px;
                        padding:6px ;
                        padding-left: 25px;
                        color: #323744;
                        background-color: #fff;
                        border-radius: 20px;
                        
                    }
                    :hover{
                        color: #fff;
                        background-color:#e64d25 ;
                    }
                    :hover .telegramIcon{
                        color: #e64d25;
                        background-color: #fff;
                    }
                    p{
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .telegramIcon{
                        color: #fff;
                        background-color: #323744;
                        border-radius: 50%;
                        padding: 2px;
                        font-size: 14px;
                    }
                }
            }

            .Footer_aboutDiv_bigger_for_forAbout{
                display: flex;
                flex: 0.40;
                flex-direction: column;
                gap: 12px;
                padding: 10px;
                width: 100%;
                // border: 2px solid #fff;
                h4{
                    font-weight: 500;
                    padding-left: 10px;
                }

                .subMenu_inFooter1{
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;
                    padding:0 10px;
                    width: 100%;
                    column-gap: 50px;
                    p{
                        font-size: 14px;
                        // border: 1px solid #fff;
                        width: 40%;
                        // align-self: flex-start;
                        // text-align: left;
                    }
                    :hover{
                        color: #e64d25;
                    }
                }
            }
        }
       
    }
    .endingCopy{
        margin-left: 2rem;
        margin-bottom: 3rem;
        span{
            font-size: 13px;
        }
    }
}